#page-addProdutos{
  width: 90%;
  max-width: 1100px;
  display: flex;
  margin: 0 auto;
}
#page-addProdutos form{
  background-color: white;
  margin-top: 3%;
  padding: 64px;
  border-radius: 100px;
  width: 100%;
}
#page-addProdutos form h3{
  font-size: 30px;
  margin-left: auto;
}
#page-addProdutos form fieldset{
  margin-top: 4px;
  border: 8px;
}
#page-addProdutos form .field{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
#page-addProdutos form .field-group{
  display: flex;
}
#page-addProdutos form input{
  background-color: #f0f0f5;
  flex: 1;
  border: 0;
  padding: 16px 24px;
  font-family: 'Roboto';
  font-style: sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 29px;
  color: #3A2C51;
}
#page-addProdutos form label{
  font-size: 24px;
  margin-bottom: 8px;
}
form .field-group .field  + .field{
  margin-left: 16px;
}
#page-addProdutos form button{
  width: 260px;
  height: 56px;
  background-color: #3A2C51;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  margin-top: 40px;
  transition: 400ms;
}
#page-addProdutos form button:hover{
  background-color: #8368ad;
}
