#page-produtos{
  background-color: #D1D1D1;
  width: 90%;
  margin:  0 auto;
  min-height: 1200px;
  background-color: white;
}

#page-produtos header{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

#page-produtos header img{
  height: 70px;
  margin-top: 1%;
  margin-left: 1%;
}
#page-produtos header a{
  font-size: 500%;
  margin-top: 1%;
  margin-right: 1%;
}

#page-produtos h6{
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.produtos{
width: 100%;
padding: 0 30px;
margin: 32px auto;
}

.produtos .field{
  display: flex;
  flex-direction: column;
  width: 70%;
}
.produtos ul{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 24px;
list-style: none;
}

.produtos ul li .field .field-group{
display:flex;
justify-content: space-between;
}

.produtos ul li{
  background-color: #f5f5f5;
  border: 2px solid  #f5f5f5;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.produtos ul li strong{
  margin-top: 5px;
  font-size: 25px;
  margin-left: 10px;
}

.produtos ul li strong h7{
color: #737380;
font-size: 20px;
font-style: oblique;
}

.produtos img{
  width:100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: fill;
}


.menu{
display: flex;
justify-content: space-between;
}

.produtos .botoes{
display: flex;
flex-direction: column;
transition: 500ms;
}

.produtos .botoes button{
  display: flex;
  align-items: center;
  font-size: 60px;
  background-color: #fff;
  border: 0px solid #cdcce6;
  border-radius: 8px;
}

#page-produtos .produtos .botoes .apagar button:hover{
  background-color: #e02041;
}
#page-produtos .produtos .botoes .editar button:hover{
  background-color: #eeff00;
}