<!DOCTYPE html>
<html lang="pt_br">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Produto</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  
    
    <link rel="stylesheet" href="/styles/main.css">
     
    <link rel="stylesheet" href="/styles/addProdutos.css">
     
    
</head>
<body>
 
    <div id="page-addProdutos">

    
       <form action="">
           <fieldset>
                <legend>
                    <h3>Adicionar Produto</h3>
                </legend>

                <div class="field">
                    <label for="name">Nome:</label>
                    <input type="text" name="name" required>
                </div>

                <div class="field-group">
                    <div class="field">
                        <label for="valor">Preço:</label>
                        <input type="text" name="valor" required>

                    </div>
                    <div class="field">
                        <label for="valor2">peso:</label>
                        <input type="text" name="valor2" required>

                    </div>
                </div>
                <div class="field">
                    <label for="qtd">Quantidade:</label>
                    <input type="text" name="qtd" required>
                </div>
                <div class="field">
                    <label for="img">imagem:</label>
                    <input type="text" name="img" placeholder="Procurar documento" required>
                    
                </div>
                

             
           </fieldset>

           <button type="submit">Cadastrar</button>

       </form>
</div>


</body>
</html>