<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apagar</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    	
    <link rel="stylesheet" href="/styles/main.css"> 
    <link rel="stylesheet" href="/styles/apagar.css">

</head>
<body>
    <div id="page-apagar">
        <form action="">
            <!-- imagem de fechar
            <header>
                <a href="">
                    <img src="./imagens/x.svg" alt="">
                </a>
            </header>-->
            <h4>Deseja realmente excluir esse Produto?</h4>
            <div class="botoes">
                <button type="submit">SIM</button>
                <button type="submit">NÂO</button>
              </div>
            
        </form>
      
    </div>





</body>
</html>
