<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperMarket</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <div id="page-login">
        <form action="">
            <div class="logomarca">
                <strong><img src="./imagens/logo.svg" alt="logomarca"></strong>
            </div>
            <fieldset>
                <div class="field">
                    <label for="nome"></label>
                    <input type="text" name="name" placeholder="nome" required>
                </div>
                <div class="field">
                    <label for="senha"></label>
                    <input type="password" name="senha"  placeholder="senha" required>
                </div>
                <button type="submit">Login</button>
            </fieldset>
        </form>

    </div>





</body>
</html>
