<!DOCTYPE html>
<html lang="pt_br">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/produtos.css">

</head>
<body>
 <div id="page-produtos">
       <header>
           <img src="./imagens/logo.svg" alt="logomarca">
           <a href="addProdutos">
               <img src="./imagens/adicionar.svg" alt="">
           </a>
       </header>
       <h6>Bem Vindo ao sistema de administração {{ nomeADM }}</h6>
           <div class="produtos">
             <ul>
                <li key="1">
                    <img src="/imagens/produto.svg" alt=""></img>
                    <div class="menu">
                    <div class="field">
                      <strong>Cod: <h7> 1</h7></strong>
                      <strong>Nome: <h7> Pera</h7></strong>
                    <div class="field-group">
                       <strong>Preço: <h7> 2,45</h7></strong>
                       <strong>Peso: <h7> 0.250kg</h7></strong>
                     </div>
                      <strong>Qtd: <h7> 2</h7></strong>
                    </div>
                    <div class="botoes">
                      <a href="apagar">
                          <img src="./imagens/apagar.svg" alt="">
                      </a>
                      <a href="">
                          <img src="./imagens/editar.svg" alt="">
                      </a>
                    </div>
                    </div>
                </li>
              </ul>
           </div>
 </div>
</body>
</html>
