#page-produtos{
    background-color: #D1D1D1;
    width: 90%;
    margin:  0 auto;
    min-height: 1200px;
    background-color: white;
}
#page-produtos header{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}
#page-produtos header img{
    width: 60px;
    height: 48px;
    object-fit: fill;
    margin-top: 5px;
    margin-left: 16px;
}
#page-produtos header a img{
    width: 30px;
    height: 68px;
    object-fit: fill;
    margin-right: 16px;
}

#page-produtos h6{
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
.produtos{
  width: 100%;
  padding: 0 30px;
  margin: 32px auto;
}
.produtos .field{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.produtos ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  list-style: none;
}

.produtos ul li .field .field-group{
  display:flex;
  justify-content: space-between;
}

.produtos ul li{
    background-color: #f5f5f5;
    border: 2px solid  #f5f5f5;
    border-radius: 8px;
    height: 100%;
    font-size: 16px;
}
.produtos ul li strong{
  margin-top: 5px;
}
.produtos ul li strong h7{
  color: #737380;
  font-size: 12px;
  font-style: oblique;
}
.produtos img{
    width:100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: fill;
}


.menu{
  display: flex;
  justify-content: space-between;

}
.produtos .botoes{
  display: flex;
  flex-direction: column;
}
.produtos .botoes a img{
  width: 100%;
  height: 50%;
}
